body {
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh;
  width: 100vw; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  background-color: #292929;
  color: white;
}

h1 {
  width: 100%;
}

p {
  width: 100%;
}

.data-container {
  display: flex;
  width: 500px;
  margin: auto;
  background-color: black;
  border-bottom: solid white 1px;
}

.data {
  width: 50%;
  padding: 5px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
